.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(250px - 1.5rem), 1fr));
  padding-inline: unset;
  list-style-type: none;
  gap: 2rem;
  margin-top: 4rem;
}

.productItem {
  display: flex;
  flex-direction: column;
}

.productImg {
  object-fit: contain;
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
}

.price {
  margin: unset;
  font-size: 1.25rem;
  font-weight: bold;
}